main {
  /* border: 10px solid pink; */
  min-height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  color: #64ffda;
}

main h2 {
  /* border: 10px solid green; */
  margin: 10px;
  color: var(--grey);
}

.short-bio {
  width: 700px;
  /* border: 2px aqua solid; */
  text-align: center;
}
