main {
    /* border: 10px solid pink; */
    min-height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



main h2 {
    /* border: 10px solid green; */
    margin: 10px;
    color: var(--grey);
}