.portfolio {
  /* border: palegoldenrod 10px solid; */
  color: whitesmoke;
  /* min-height: 100vh; */
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.portfolio-1,
.portfolio-2,
.portfolio-3 {
  margin: 5px;
  padding: 10px;
  word-wrap: break-word;
}

.app-screenshot {
  width: auto;
  height: 300px;
}

h2 {
  margin-bottom: 10px;
  color: #8892b0;
}
